.info-container {

       width: 400px;
       height: 200;
       padding:10px;
       margin: 20px;px;


}


.image-container{

        float:left;
        width: 42%;
        border:1px solid red;
        background-color:rgb(131, 169, 203);
        padding:10px;
        margin:10px;
        


}

.text-container {

         float:left;
         width:45%;
        border:1px solid red;
        background-color:rgb(131, 169, 203);
}

img {
    width:100%;
    height:auto;

}

