.gallery{  
    width:100%;
}

.info-container{
    float:left;
    width:30%;
    padding:10px;
    margin:10px;
    background-color:rgb(188, 210, 230);
    border: 1px solid red;
    transition:0.2s ease-in-out;
    box-shadow: 5px 5px 15px;
}

.image-container{
    width:100%;
}

.text-container{
    width:100%;
    margin-top: 10px;
}

.image-container img{
     width:100%;
     height:auto;
     background-color: #9edcf9;
     
     
 
 }
 
  .info-container:hover {
     transform:scale(1.1);/* what is ease*/
     box-shadow: 10px px 20;
}
